[submodule "existing_models/LidarTracking3D/src/LiDAR_Tracking_3D"]
	path = existing_models/LidarTracking3D/src/LiDAR_Tracking_3D
	url = https://github.com/domrachev03/LiDAR_Tracking_3D.git
[submodule "existing_models/multiple-object-tracking-lidar"]
	path = existing_models/LidarTracking3D/src/multiple-object-tracking-lidar
	url = https://github.com/praveen-palanisamy/multiple-object-tracking-lidar
[submodule "existing_models/LidarTracking3D/src/patchwork-plusplus-ros"]
	path = existing_models/LidarTracking3D/src/patchwork-plusplus-ros
	url = https://github.com/url-kaist/patchwork-plusplus-ros
